

server:
  port: 8081
spring:
  datasource:
    username: root
    password: arun1234
    url: jdbc:mysql://localhost:3306/newdb
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


   